* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #2f2c28;
}

body {
  background-color: #d3d3d3;
  font-size: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
}

button:hover,
.heart:hover {
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  /* Styling Home page start */
  header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    background-color: #8b4513;
  }

  .logo-box {
    width: 30%;
  }

  .logo {
    width: 100%;
  }

  ul {
    width: 65%;
    column-gap: 5%;
  }

  ul li:nth-child(1) {
    text-decoration: underline;
    color: #ffffed;
  }

  ul li a {
    color: #2beb83;
    text-decoration: none;
  }

  section.food-list {
    width: 100%;
    padding-top: 60px;
    gap: 10px;
  }

  .food-card {
    width: 90%;
    justify-content: center;
    margin: 0 5%;
    row-gap: 30px;
  }

  .image-box {
    width: 100%;
  }

  .image-box img {
    width: 100%;
    border-radius: 15px;
  }

  .image-box img:hover {
    width: 103%;
    border-radius: 15px;
  }

  .meal-title-and-interactions-box {
    margin-top: -30px;
    justify-content: space-between;
  }

  .meal-title-and-interactions-box h2 {
    font-size: 1.2rem;
    width: 67%;
  }

  .meal-title-and-interactions-box span {
    font-size: 1.1rem;
    color: #8b4513;
  }

  .buttons-box {
    justify-content: space-between;
    margin-top: -20px;
  }

  button {
    width: 30%;
  }

  /* Styling Home page end */

  /* Styling popup window start */
  .popup-window {
    width: 100%;
    position: fixed;
    top: 0;
  }

  .popup-wrapper {
    width: 95%;
    position: fixed;
    top: 10px;
    height: 98%;
    background-color: #d3d3d3;
    align-items: center;
    margin: 0 2.5% 0 2.5%;
    border-radius: 20px;
    z-index: 10;
    overflow-y: auto;
    padding-bottom: 20px;
    border: 2px solid #cd853f;
  }

  i.close-popup:hover {
    cursor: pointer;
  }

  .popup-wrapper h2 {
    font-size: 1.2rem;
  }

  h2.add-comment {
    margin-top: 30px;
  }

  .popup-window i {
    margin: 15px 10% 15px 90%;
  }

  .popup-image-box {
    width: 90%;
  }

  img.popup-img {
    width: 100%;
    border-radius: 15px;
  }

  .meal-infos {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin-top: 10px;
  }

  .meal-infos span {
    font-weight: bolder;
  }

  .instruction-box {
    grid-column: 1 / span 2;
    margin-top: 10px;
    text-align: justify;
  }

  .comments-box {
    display: flex;
    margin-top: 30px;
    width: 90%;
    justify-content: center;
  }

  form.add-comment {
    width: 90%;
    row-gap: 5px;
  }

  input.user-name {
    height: 25px;
  }

  textarea.insights {
    height: 60px;
  }

  ::placeholder {
    padding-left: 3%;
  }

  /* Styling popup window end */
}

@media only screen and (min-width: 375px) {
  header ul {
    width: 60%;
    column-gap: 5%;
    margin-left: 15%;
  }

  .meal-title-and-interactions-box h2 {
    width: 70%;
  }
}

@media only screen and (min-width: 425px) {
  header ul {
    width: 60%;
    column-gap: 5%;
    margin-left: 18%;
  }

  section.food-list {
    padding-top: 80px;
  }

  .meal-title-and-interactions-box h2 {
    width: 75%;
  }

  button {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 90%;
  }

  header ul {
    column-gap: 5%;
    margin-left: 40%;
  }

  section.food-list {
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-columns: auto auto;
  }

  button {
    width: 25%;
  }

  /* Styling popup window start */
  button.submit-comment {
    width: 12%;
  }

  /* Styling popup window end */
}

@media only screen and (min-width: 1024px) {
  section.food-list {
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1440px) {
  section.food-list {
    width: 80%;
    margin: 0 10%;
  }

  .logo-box {
    width: 20%;
  }

  .logo {
    width: 100%;
  }

  header ul {
    column-gap: 5%;
    margin-left: 50%;
  }
}
